<div class="list row">
  <button (click)="voltar()">Voltar</button>
</div>

<div>
  <h1 id="titulo">Edição de cliente</h1>
  <br>
</div>

<form>
  <fieldset class="grupo">
    <div class="campo">
      <label for="nome">ID </label>
      <label >{{currentCadastro?.Id}}</label>
    </div>

    <div class="campo">
      <label for="nome">Nome Completo </label>
      <input type="text" name="nome" id="nome" size="50" [(ngModel)]="currentCadastro.Nome" required>
    </div>

    <div class="campo">
      <label for="dtnascimento">Data de Nascimento </label>
      <input type="text" name="dtnascimento" id="dtnascimento" [(ngModel)]="currentCadastro.DtNascimento" required>
    </div>

    <div class="campo">
      <label for="cpf">Cpf </label>
      <input type="text" name="CPF" id="CPF" required [(ngModel)]="currentCadastro.Cpf">
    </div>

    <div class="campo" *ngFor="let telefone of currentCadastro.Telefone; let i = index">
      <label for="telefone">Telefone </label>
      <input type="text" name="{{i}}-telefone" id="{{i}}-telefone" required [(ngModel)]="telefone.Telefone1">
      <button (click)="deletarTelefone(telefone.Id)" class="btn btn-danger">Apagar Telefone</button>
    </div>
    <div class="campo">

      <button (click)="adicionarTelefone()" class="btn btn-default">Possui outro telefone</button>


    </div>


  </fieldset>
  <br />
  <br />

  <button (click)="updateCadastro()" class="btn btn-success">Atualizar cadastro</button>
  <br />
  <br />
  <button (click)="deleteCadastro()" class="btn btn-danger">Deletar cadastro</button>





</form>
